@media (max-width: 520px) {
  /* contact form */

  .contact-form {
    grid-template-columns: 1fr;
  }

  /* showcase section */

  .showcase-section {
    padding: 1rem 0;
    row-gap: 1rem;
  }

  .showcase-text-title {
    margin-bottom: 1rem;
  }

  .showcase-img {
    width: 90%;
    height: 90%;
  }

  .view-reviews {
    margin-bottom: 1rem;
  }

  /* contact */

  .contact-form {
    padding: 2rem 0.5rem;
  }

  .contact-info-link {
    gap: 0.25rem;
  }

  .email-link {
    font-size: 1rem;
  }

  /* footer */

  .newsletter-input {
    width: 100%;
    margin: 0 auto;
  }

  .newsletter-input-btn {
    padding: 0.75rem 1.5rem;
  }
}
