:root {
  --font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities  */

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.container-nav {
  width: 80%;
  max-width: 1180px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}

section {
  padding: 2rem 0;
}

.email-link {
  font-weight: bold;
  color: #553377;
}

.all-reviews-text-section {
  text-align: center;
}

.times {
  font-family: 'Times New Roman', Times, serif;
}

.non-italic {
  font-style: normal;
}

.handwriting {
  font-family: 'Square Peg', cursive;
  font-weight: bold;
  font-size: 2.75rem;
}

/* nav  */

nav {
  background-color: #592d83;
  border-bottom: 1px solid #fefefe;
  border-top: 1px solid #fefefe;

  /* opacity: 0;
  transform: translateY(-5rem);

  transition: transform 0.3s ease, opacity 0.3s ease; */
}

.nav-sticky {
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav {
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.nav-link {
  color: #fefefe;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.hamburger-menu {
  cursor: pointer;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  align-content: space-between;
  gap: 0.3rem;
}

.bar {
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  width: 40px;

  transition: transform 0.3s ease;
}

.rotate-45 {
  transform: translateY(9px) rotate(45deg);
}
.rotate--45 {
  transform: translateY(-11px) rotate(-45deg);
}
.op-0 {
  opacity: 0;
}

.down-arrow {
  color: #fefefe;
}

/* dropdown */

.dropdown-btn {
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #fefefe;
  cursor: pointer;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.5rem);

  background-color: #7a5d96;
  pointer-events: none;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

  opacity: 0;
  transform: translateY(-10px);

  transition: opacity 0.5s ease, transform 0.2s ease;
}

.dropdown-btn {
  width: 100%;
}

.show-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-link {
  color: #fefefe;
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  width: 100%;

  transition: background-color 0.3s ease;
}

.dropdown-link:hover {
  background-color: #592d83;
}

/* header section  */
header {
  color: #fefefe;
}

.header-section {
  padding: 0 0 8rem 0;
  text-align: center;
}

.header-text-section {
  background-color: #592d83;
}

.header-img-section {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: -9rem;
}

.header-section-title {
  font-size: 2.75rem;
  margin-bottom: 0.5rem;
}

.header-section-subtitle {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 500;
}

.header-section-logo {
  width: 8%;
}

.header-section-img {
  max-width: 700px;
  width: 65%;
}

/* text section  */

.text-section-heading {
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

.text-section-desc {
  line-height: 1.6;
}

/* grid three two col */

.grid-three-two {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 1rem;
}

/* grid two three */

.grid-two-three {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1rem;
}

/* home text section */

.home-text {
  background-color: #f8f8f8;
}

.home-text-section-title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.home-text-section-desc {
  line-height: 1.6;
}

/* home text image */

.home-text-section-right-col {
  background-image: url('../_a_img/sleep-peoples.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* grid two col  */

.grid-two-col {
  display: grid;
  grid-template-columns: 5fr 4fr;
  column-gap: 2rem;
}

/* grid two col text section */

.grid-two-col-left-col {
  padding: 2rem 0;
}

.grid-two-col-heading {
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

.grid-two-col-desc {
  line-height: 1.6;
}

/* grid two three text section */

.grid-two-three-right-col {
  padding: 2rem 0;
  align-self: center;
}

.grid-two-three-heading {
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

.grid-two-three-desc {
  line-height: 1.6;
}

.grid-two-three-left-col {
  height: 450px;
}

/* insomnia text image */

.insomnia-text-section-right-col {
  background-image: url('../_a_img/insomnia_sleep_01.webp');
  background-size: cover;
  background-position: center center;
}

/* snoring text image */

.snoring-text-section-right-col {
  background-image: url('../_a_img/snoring-issues.webp');
  background-size: cover;
  background-position: center center;
}

/* fibromyalgia text image */

.fibromyalgia-text-section-right-col {
  background-image: url('../_a_img/fibromyalgia.webp');
  background-size: cover;
  background-position: center center;
}

/* menopause text image */

.menopause-text-section-right-col {
  background-image: url('../_a_img/sleep-menopause-02.webp');
  background-size: cover;
  background-position: center center;
}

/* children text image */

.children-text-section-right-col {
  background-image: url('../_a_img/children.webp');
  background-size: cover;
  background-position: center center;
}

/* comments text image */

.comments-text-section-right-col {
  background-image: url('../_a_img/sleep-dog-01.webp');
  background-size: cover;
  background-position: center center;
}

/* about text image */

.about-text-section-right-col {
  background-image: url('../_a_img/about-img1.webp');
  background-size: cover;
  background-position: center center;
}

.about-text-2-section-left-col {
  background-image: url('../_a_img/about-img2.webp');
  background-size: cover;
  background-position: center center;
}

/* insomnia image */

.insomnia-img {
  display: none;
}

/* contact section */

.contact {
  background-image: linear-gradient(
      rgb(89, 45, 131, 0.65),
      rgb(89, 45, 131, 0.65)
    ),
    url('../_a_img/contact.webp');
  background-size: cover;
  background-position: center center;

  color: #fefefe;
}

.contact-section {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.contact-info {
  align-self: center;
}

.contact-info-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact-info-desc {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.contact-info-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  margin-bottom: 1rem;
}

.email-link,
.phone-link {
  color: #fefefe;
  font-size: 1.25rem;
}

.contact-form {
  background-color: #fefefe;
  border-left: 5px solid #d3b574;

  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

input {
  width: 100%;
}

input,
textarea {
  font-family: var(--font-family);
  font-size: 1.25rem;
  padding: 0.5rem;

  border: 1px solid #ddd;

  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #d3b574;
}

textarea {
  grid-column: 1/-1;
  resize: none;
}

.form-btn {
  grid-column: 1/-1;
  justify-self: flex-end;
}

.send-btn {
  padding: 1rem 2rem;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: #160b22;
  background-color: #d3b574;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.send-btn:hover {
  background-color: #160b22;
  color: #d3b574;
}

/* reviews  */

.reviews-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.review {
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

.review-title {
  margin-bottom: 1rem;
}

.review-text {
  font-style: italic;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.emoji {
  font-style: normal;
}

.review-author {
  margin-bottom: 1rem;
}

.read-reply-btn {
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 500;

  background-color: #69428f;
  color: rgba(255, 255, 255, 0.9);

  padding: 0.5rem 2rem;

  border: none;
  border-radius: 2rem;

  cursor: pointer;
  transition: all 0.3s ease;
}

.read-reply-btn:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.03);
}

.hide-reply-btn {
  display: none;
}

.reply {
  line-height: 1.6;
  height: 0;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  transform: translateY(-1.25rem);
  z-index: -1;

  transition: height 0.5s ease, transform 0.5s ease;
}

.show-reply {
  height: 70%;
  transform: translateY(0);
}

.answer-text-link {
  font-weight: 600;
  color: #734f96;
}

/* showcase section */

.showcase {
  background-image: radial-gradient(at top right, #734f96 0%, #604779c7 78%);

  margin: 0.5rem;
}

.showcase-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.showcase-img {
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-style: groove;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 440px;
  height: 440px;

  justify-self: center;

  transition: all 0.3s ease;
}

.showcase-img:hover {
  transform: scale(0.9);
}

.showcase-img-img {
  width: 90%;
}

.showcase-text {
  align-self: center;
  color: #fefefe;
  text-align: center;
}

.showcase-text-title {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.stars {
  margin-bottom: 0.5rem;
}

.view-reviews {
  display: inline-block;
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.showcase-text-desc {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.showcase-text-btn {
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 2rem;
  font-family: var(--font-family);
  font-size: 1rem;
  color: #fefefe;
  background-color: #8bc34a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.showcase-text-btn:hover {
  background-color: #7baf42;
}

.showcase-text-btn:active {
  outline: none;
}

/* footer */

footer {
  background-image: linear-gradient(360deg, #9864c9 0%, #553377 100%);

  padding: 4rem 0;

  border-top: 10px solid #39c7ce;
}

.footer-top {
  text-align: center;

  border-bottom: 1px #fefefe dotted;
}

.footer-top-heading {
  margin-bottom: 1rem;
  color: #fefefe;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: stretch;

  margin-bottom: 1rem;
}

.newsletter-input {
  background-color: #ffffff;
  border-width: 0px 0px 0px 0px;
  border-radius: 25px 0px 0px 25px;
  padding: 0.75rem 2rem;
  color: #787474;
  width: 300px;
  font-size: 1rem;
}

.newsletter-input:focus {
  outline: none;
}

.newsletter-input-btn {
  background-color: #39c7ce;
  color: #787474;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
  font-family: var(--font-family);
  transition: all 0.3s ease;
}

.newsletter-input-btn:hover {
  background-color: #00ce1b;
  color: #ffffff;
}

.cards {
  max-width: 300px;
  margin: 0 auto;

  margin-bottom: 2rem;
}

.footer-bottom-text {
  margin-top: 2rem;
  color: #fefefe;
  text-align: center;
  font-weight: 600;
}

.footer-bottom-link {
  color: #fefefe;
}

/* reviews animation classes */

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  opacity: 0;
  transition: transform 0.7s ease-out, opacity 0.5s ease-in-out;
}

.from-left.appear,
.from-right.appear {
  opacity: 1;
  transform: translateX(0);
}

.appear {
}
